/* body {
    margin: 0;
    overflow: hidden;
} */

.Mouse{
  height: 80vh;

}
.mouseFlowCanvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.mouseFlowEffect-Mouse {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
}
